﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i == 0)
            {
                <li style="color: black;" data-target="#carouselExampleIndicators" data-slide-to="@i" class="active"></li>
            }
            else
            {
                <li style="color: black;" data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
            }
        }
    </ol>
    <div class="banner__container carousel-inner align-items-center">
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i == 0)
            {
                <div class="carousel-item active">
                    <img class="d-block w-100" src="@Configuration["ImagePath:Banner"]@Model[i].BannerPath" alt="@(i+1) slide">
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <img class="d-block w-100" src="@Configuration["ImagePath:Banner"]@Model[i].BannerPath" alt="@(i+1) slide">
                </div>
            }
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>