﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.tiny.cloud/1/4ctr9pi6o8mlflu8si6gdszgl62tn4zl73knhf3tkqalszsx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thêm Blog</h6>
    </div>
    <div class="card-body">
        <div class="form-group mb-2">
            <label class="mr-2">Cột</label>
            <select class="form-control blog-position">
                @for (int i = 1; i <= 2; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>

        <div class="form-group mb-2">
            <label class="mr-2">Tiêu đề</label>
            <input class="form-control blog-title" value="">
        </div>

        <div class="form-group mb-2">
            <label>Nội dung</label>
            <textarea id="blog-content"></textarea>
        </div>

        <div class="text-center mt-4">
            <button class="btn-primary btn add-blog">Thêm</button>
        </div>
    </div>
</div>
<script>
    $('.add-blog').click(function () {
        var request = {
            BlogTitle: $('.blog-title').val(),
            BlogContent: tinymce.get("blog-content").getContent(),
            BlogPosition: $('.blog-position').val()
        };
        apiAddBlog(request);
    })
    function apiAddBlog(request) {
        $.ajax({
            url: '/api/ManageConfigurationsAPI/AddBlog',
            data: JSON.stringify(request),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                window.location.href = "/ManageConfiguration/ManageFooter";
            },
            error: function (data) {
                console.log(data);
                alert(data.responseJSON.message)
            }
        });
    }
</script>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });
</script>