﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lý Blog</h6>
        <a class="btn btn-success" href="@Url.Action("AddBlog","ManageConfiguration")">Thêm blog</a>
    </div>
    <div class="card-body">
        <div class="font-weight-bold mb-2">Công ty</div>
        <div class="table-responsive">
            <table class="table table-bordered order-table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Cột</th>
                        <th>Tên Blog</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.listBlog.Count; i++)
                    {
                        if (Model.listBlog[i].BlogPosition == 1)
                        {
                            <tr>
                                <td>@Model.listBlog[i].BlogPosition</td>
                                <td>@Model.listBlog[i].BlogTitle</td>
                                <td class="text-center">
                                    <a href="@Url.Action("BlogDetail", "ManageConfiguration", new { BlogId = Model.listBlog[i].BlogId})" style="color: var(--blue-dior);">Chi tiết</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="font-weight-bold mb-2">Chính sách hỗ trợ</div>
        <div class="table-responsive">
            <table class="table table-bordered order-table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Cột</th>
                        <th>Tên Blog</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.listBlog.Count; i++)
                    {
                        if (Model.listBlog[i].BlogPosition == 2)
                        {
                            <tr>
                                <td>@Model.listBlog[i].BlogPosition</td>
                                <td>@Model.listBlog[i].BlogTitle</td>
                                <td class="text-center">
                                    <a href="@Url.Action("BlogDetail", "ManageConfiguration", new { BlogId = Model.listBlog[i].BlogId})" style="color: var(--blue-dior);">Chi tiết</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="font-weight-bold mb-2">Mạng xã hội</div>
        <div class="table-responsive">
            <table class="table table-bordered order-table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Cột</th>
                        <th>Icon</th>
                        <th>Mạng xã hội</th>
                        <th>Đường dẫn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listSocial)
                    {
                        if (item.Position == 1)
                        {
                            <tr>
                                <td>@item.Position</td>
                                <td>
                                    <input class="social_icon-@item.SocialId form-control" placeholder="Link" value="@item.Icon">
                                </td>
                                <td>
                                    <input class="social_name-@item.SocialId form-control" placeholder="Link" value="@item.SocialName">
                                </td>
                                <td>
                                    <input class="social_url-@item.SocialId form-control" placeholder="Link" value="@item.SocialUrl">
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary" onclick="updateSocial(@item.SocialId)">Cập nhật</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="font-weight-bold mb-2">Thông tin liên hệ</div>
        <div>
            <div class="table-responsive">
                <table class="table table-bordered order-table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Cột</th>
                            <th>Icon</th>
                            <th>Tiêu đề</th>
                            <th>Nội dung</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.listSocial)
                        {
                            if (item.Position == 2)
                            {
                                <tr>
                                    <td>@item.Position</td>
                                    <td>
                                        <input class="social_icon-@item.SocialId form-control" placeholder="Link" value="@item.Icon">
                                    </td>
                                    <td>
                                        <input class="social_name-@item.SocialId form-control" placeholder="Link" value="@item.SocialName">
                                    </td>
                                    <td>
                                        <input class="social_url-@item.SocialId form-control" placeholder="Link" value="@item.SocialUrl">
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-primary" onclick="updateSocial(@item.SocialId)">Cập nhật</button>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td>Địa chỉ</td>
                            <td>
                                <div class="d-flex">
                                    <input class="form-control mr-2 config-address" placeholder="Địa chỉ" value="@Model.config.Address">
                                    <input class="form-control config-addressurl" placeholder="Đường dẫn" value="@Model.config.AddressUrl">
                                </div>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-primary" onclick="updateAddress()">Cập nhật</button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td>Thời gian làm việc</td>
                            <td>
                                <div class="d-flex">
                                    <input class="form-control mr-2 config-starttime" value="@Model.config.StartTime" type="time">
                                    <input class="form-control config-endtime" value="@Model.config.EndTime" type="time">
                                </div>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-primary" onclick="updateTime()">Cập nhật</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function updateSocial(id){
        var request = {
            SocialId: id,
            Icon: $(`.social_icon-${id}`).val(),
            SocialName: $(`.social_name-${id}`).val(),
            SocialUrl: $(`.social_url-${id}`).val(),
        };
        apiUpdateSocial(request);
    }
    function apiUpdateSocial(request) {
        $.ajax({
            url: '/api/ManageConfigurationsAPI/UpdateSocial',
            data: JSON.stringify(request),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                alert(data.message);
            },
            error: function (data) {
                console.log(data);
                alert(data.responseJSON.message);
            }
        });
    }


    function updateAddress() {
        var request = {
            Id: @Model.config.Id,
            Address: $('.config-address').val(),
            AddressUrl: $('.config-addressurl').val()
        }
        apiUpdateAddress(request)
    }
    function apiUpdateAddress(request) {
        $.ajax({
            url: '/api/ManageConfigurationsAPI/UpdateAddress',
            data: JSON.stringify(request),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                alert(data.message);
            },
            error: function (data) {
                console.log(data);
                alert(data.responseJSON.message);
            }
        });
    }

    function updateTime() {
        var request = {
            Id: @Model.config.Id,
            StartTime: $('.config-starttime').val(),
            EndTime: $('.config-endtime').val()
        };
        apiUpdateTime(request);
    }
    function apiUpdateTime(request) {
        $.ajax({
            url: '/api/ManageConfigurationsAPI/UpdateTime',
            data: JSON.stringify(request),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                alert(data.message);
            },
            error: function (data) {
                console.log(data);
                alert(data.responseJSON.message);
            }
        });
    }
</script>