﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary text-center">Thông tin chi tiết</h6>
    </div>
    <div class="card-body p-2">
        <div class="mx-auto mb-4">
            <div class="row">
                <div class="col-sm-6 mb-4">
                    <div class="text-left mb-2 text-primary"><strong>Thông tin cơ bản</strong></div>
                    <input class="bank-id" value="" disabled hidden/>
                    <div class="form-group mb-4">
                        <label>Tên</label>
                        <input type="text" class="form-control bank-accountname" value="">
                    </div>
                    <div class="form-group mb-4">
                        <label>Ngân hàng</label>
                        <input type="text" class="form-control bank-name" value="">
                    </div>
                    <div class="form-group mb-4">
                        <label>Số tài khoản</label>
                        <input type="text" class="form-control bank-accountnumber" value="">
                    </div>
                </div>
                <div class="col-sm-6 mb-4">
                    <div class="form-group mb-4">
                        <label>Ảnh ngân hàng</label>
                        <div class="d-flex flex-wrap">
                            <div class="">
                                <div class="border" style="height: 100px; width: 100px;">
                                    <label class="mb-0 w-100 h-100 d-none align-items-center justify-content-center"
                                           for="pic-size" style="cursor: pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                             height="24" viewBox="0 0 24 24" fill="none"
                                             stroke="#ddd" stroke-width="1" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="feather feather-plus-circle">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" y1="8" x2="12" y2="16"></line>
                                            <line x1="8" y1="12" x2="16" y2="12"></line>
                                        </svg>
                                    </label>
                                    <input type="file" class="form-control-file image-uploaded"
                                           id="pic-size" hidden>
                                    <div class="image-wrapper w-100 h-100 position-relative d-flex align-items-center justify-content-center p-1">
                                        <img class="mw-100 mh-100"
                                             src="../assets/images/bidv.png" alt="">
                                        <span class="position-absolute remove-upload"
                                              style="right: 0; top: 0; cursor: pointer;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                                 height="18" viewBox="0 0 24 24" fill="none"
                                                 stroke="red" stroke-width="1" stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-x">
                                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                                <line x1="6" y1="6" x2="18" y2="18"></line>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button id="confirm-change" class="btn btn-primary">Lưu</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered order-table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Ảnh</th>
                        <th scope="col">Tên ngân hàng</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Số tài khoản</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="bank-list">
                    @foreach (var item in Model)
                    {
                        <tr id="bank-@item.BankId">
                            <td>
                                <div class="d-flex align-items-center justify-content-center border p-1 mr-2" style="height: 120px; width: 120px;">
                                    <img class="mw-100 mh-100" src="@Configuration["ImagePath:Bank"]@item.BankImage" alt="">
                                </div>
                            </td>
                            <td>@item.BankName</td>
                            <td>@item.BankAccountName</td>
                            <td>@item.BankAccountNumber</td>
                            <td>
                                <button class="btn btn-primary">Chỉnh sửa</button>
                                <button class="btn btn-danger" onclick="deleteBank(@item.BankId)">Xóa</button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('#confirm-change').click(function () {
        console.log($('.bank-id').val())
        if ($('.bank-id').val() === '') {
            addBank()
        } else {
            updateBank()
        }
    })

    function addBank() {
        var request = {
            BankName: $('.bank-name').val(),
            BankAccountNumber: $('.bank-accountnumber').val(),
            BankAccountName: $('.bank-accountname').val(),
        };
        apiAddBank(request);
    }
    function updateBank() {
        var request = {
            BankId: $('.bank-id').val(),
            BankName: $('.bank-name').val(),
            BankAccountNumber: $('.bank-accountnumber').val(),
            BankAccountName: $('.bank-accountname').val(),
        };
        apiUpdateBank(request);
    }
    function deleteBank(bankId) {
        apiDeleteBank(bankId);
    }

    function apiAddBank(request) {
        $.ajax({
            url: '/api/ManageConfigurationsAPI/AddBank',
            data: JSON.stringify(request),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                console.log(data);
                alert(data.message);
                renderHtmlAddBank(data.objData, request);
            },
            error: function (data) {
                console.log(data);
                alert(data.message);
            }
        });
    }
    function apiDeleteBank(bankId) {
        $.ajax({
            url: '/api/ManageConfigurationsAPI/DeleteBank',
            data: JSON.stringify(bankId),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                alert(data.message);
                $(`#bank-${bankId}`).empty();
            },
            error: function (data) {
                alert(data);
            }
        });
    }
    function apiUpdateBank(request) {
        $.ajax({
            url: '/api/ManageConfigurationsAPI/UpdateBank',
            data: JSON.stringify(request),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                console.log(data);
                alert(data.message);
            },
            error: function (data) {
                console.log(data);
                alert(data);
            }
        });
    }

    function renderHtmlAddBank(id, bank) {
        $('.bank-list').append(htmlBank(id, bank));
    }
    function renderHtmlUpdateBank(request) {
        $('.bank-list').append(htmlBank(request.bankId, request));
    }
    function htmlBank(id, bank) {
        var html = `
            <tr id="bank-${id}">
                <td>
                    <div class="d-flex align-items-center justify-content-center border p-1 mr-2" style="height: 120px; width: 120px;">
                        <img class="mw-100 mh-100" src="@Configuration["ImagePath:Bank"]${bank.BankImage}" alt="">
                    </div>
                </td>
                <td>${bank.BankName}</td>
                <td>${bank.BankAccountName}</td>
                <td>${bank.BankAccountNumber}</td>
                <td>
                    <button class="btn btn-primary">Chỉnh sửa</button>
                    <button class="btn btn-danger" onclick="deleteBank(${id})">Xóa</button>
                </td>
            </tr>
        `;
        return html;
    }
</script>