﻿@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản trị - đăng nhập</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">HIHICHI Admin!</h1>
                                    </div>
                                    <form method="post" asp-action="SignIn" asp-controller="Admin" class="user">
                                        <div class="form-group">
                                            <input type="tel" class="form-control form-control-user"
                                                id="adminPhoneNumber" aria-describedby="emailHelp"
                                                placeholder="Số điện thoại" name="userphone">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="adminPassword" placeholder="Mật khẩu" name="password">
                                        </div>
                                        <input class="btn btn-primary btn-user btn-block signin" type="submit" value="Đăng nhập" />
                                    </form>
                                    @ViewBag.Error
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Quên mật khẩu?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    <script>
        @*// Events
        $('.signin').click(function () {
            signIn();
        })

        function signIn() {
            var request = {
                UserPhone: $('#adminPhoneNumber').val(),
                Password: $('#adminPassword').val(),
            }
            var url = '@ViewData["ReturnUrl"]';
            apiSignIn(request, url);
        }

        // API methods
        function apiSignIn(request, returnUrl) {
            $.ajax({
                url: '/Admin/SignIn',
                data: JSON.stringify(request),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                success: function (data) {
                    window.location.href = returnUrl;
                    return;
                },
                error: function (data) {
                    console.log(data);
                    alert(data.responseJSON.message);
                    return;
                }
            });
        }*@
    </script>
</body>

</html>
