﻿@{
    Layout = "~/Views/Shared/_LayoutClientNoBanner.cshtml";
}

<!-- Main contain -->
<div class="custom-container">
    <div class="content__wrapper products__content-wrapper">
        <div class="content__inner w-100">
            <ul class="web__directional">
                <li>
                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                </li>
                <li>
                    <a href="@Url.Action("UserProfile", "Account")">Hồ sơ cá nhân</a>
                </li>
            </ul>
            <hr>
            <div class="user__profile-wrapper row">
                <div class="col-md-2 col-xs-12 mb-4">
                    <div class="tabs-control">
                        @await Component.InvokeAsync("UserProfileMenu")
                    </div>
                </div>

                <div class="col-md-10 col-xs-12 mb-4">
                    <div class="tabs-content">
                        <div class="tab-content">
                            <div class="text-center">
                                <div class="title"><strong>THÔNG TIN CÁ NHÂN</strong></div>
                            </div>
                            <div class="user__info-form mx-auto">
                                <div class="form-group mb-4">
                                    <label>Họ tên</label>
                                    <input type="text" class="user-fullname form-control" aria-describedby="emailHelp" value="@Model.UserFullName">
                                </div>
                                <div class="form-group mb-4">
                                    <label>Số điện thoại</label>
                                    <div class="d-flex align-items-center">
                                        <input type="tel" class="user-phone form-control mr-2" aria-describedby="emailHelp"
                                               value="@Model.UserPhone" disabled>
                                        <a href="@Url.Action("UpdateUserPhoneNumber", "Account")" class="" style="white-space: nowrap; cursor: pointer;"><u>Thay đổi</u></a>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label>Email</label>
                                    <input type="text" class="user-mail form-control" value="@Model.UserMail">
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <div class="d-flex flex-wrap">
                                        <input type="text" class="user-address form-control mb-2" value="@Model.UserAddress">
                                        <div class="select-form w-100 mb-2">
                                            <select name="" id="" class="user-city form-control">
                                                <option value="" disabled selected>Tỉnh/Thành...</option>
                                            </select>
                                            <span class="d-flex align-items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="#333"
                                                     stroke-width="1" stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="select-form w-100 mb-2">
                                            <select name="" id="" class="user-district form-control">
                                                <option value="" disabled selected>Quận/Huyện...</option>
                                            </select>
                                            <span class="d-flex align-items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="#333"
                                                     stroke-width="1" stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="select-form w-100 mb-2">
                                            <select name="" id="" class="user-ward form-control">
                                                <option value="" disabled selected>Phường/Xã...</option>
                                            </select>
                                            <span class="d-flex align-items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="#333"
                                                     stroke-width="1" stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button class="update-userprofile btn-black">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Events click
    $('.update-userprofile').click(function () {
        var request = {
            UserFullName: $('.user-fullname').val(),
            UserMail: $('.user-mail').val(),
            UserAddress: $('.user-address').val(),
            UserWardCode: $('.user-ward').val(),
            UserDistrictCode: $('.user-district').val(),
            UserCityCode: $('.user-city').val(),
        }
        apiUpdateUserProfile(request);
    })

    function apiUpdateUserProfile(request) {
        $.ajax({
            url: '/api/AccountAPI/UpdateUserProfile',
            data: JSON.stringify(request),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                alert(data.message);
                return;
            },
            error: function (data) {
                alert(data.responseJSON.message);
                return;
            }
        });
    }
    // Get and display provinces data
    $.get('/js/json/provinces-open-api.json', function (data) {
        // City
        var userCity = '@Model.UserCityCode';
        // District
        var userDistrict = '@Model.UserDistrictCode';
        // Ward
        var userWard = '@Model.UserWardCode';

        var htmlTinhThanh = `<option value="" disabled>Tỉnh/Thành...</option>`
        data.forEach(city => {
            if (city.codename == userCity) {
                htmlTinhThanh += `<option value="` + city.codename + `" selected>` + city.name + `</option>`
                let htmlQuanHuyen = `<option value="" disabled selected>Quận/Huyện...</option>`
                city.districts.forEach(dist => {
                    if (dist.codename == userDistrict) {
                        htmlQuanHuyen += `<option value="` + dist.codename + `" selected>` + dist.name + `</option>`
                        let htmlPhuongXa = `<option value="" disabled selected>Phường/Xã...</option>`
                        dist.wards.forEach(ward => {
                            if (ward.codename == userWard) {
                                htmlPhuongXa += `<option value="` + ward.codename + `" selected>` + ward.name + `</option>`
                            } else {
                                htmlPhuongXa += `<option value="` + ward.codename + `">` + ward.name + `</option>`
                            }
                        })
                        $(".user-ward")[0].innerHTML = htmlPhuongXa;
                    } else {
                        htmlQuanHuyen += `<option value="` + dist.codename + `">` + dist.name + `</option>`
                    }
                })
                $(".user-district")[0].innerHTML = htmlQuanHuyen;
            } else {
                htmlTinhThanh += `<option value="` + city.codename + `">` + city.name + `</option>`
            }
        });
        $(".user-city")[0].innerHTML = htmlTinhThanh;

        // Select Districts
        $(".user-city").on('change', function () {
            let htmlQuanHuyen = `<option value="" disabled selected>Quận/Huyện...</option>`
            data.forEach(city => {
                if (city.codename == this.value) {
                    city.districts.forEach(dist => {
                        htmlQuanHuyen += `<option value="` + dist.codename + `">` + dist.name + `</option>`
                    })
                    $(".user-district")[0].innerHTML = htmlQuanHuyen
                    $(".user-ward")[0].innerHTML = `<option value="" disabled selected>Phường/Xã...</option>`
                }
            })
        });
        // Select Wards
        $(".user-district").on('change', function () {
            let valueTinhThanh = $(".user-city")[0].value
            let valueQuanHuyen = this.value
            let htmlPhuongXa = `<option value="" disabled selected>Phường/Xã...</option>`
            data.forEach(city => {
                if (city.codename == valueTinhThanh) {
                    city.districts.forEach(dist => {
                        if (dist.codename == valueQuanHuyen) {
                            dist.wards.forEach(ward => {
                                htmlPhuongXa += `<option value="` + ward.codename + `">` + ward.name + `</option>`
                            })
                            $(".user-ward")[0].innerHTML = htmlPhuongXa
                        }
                    })
                }
            })
        });
    })
</script>