﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="custom-container">
    <!-- Bran list slider -->
    <div class="bran__logo-list">
        <div class="text-center">
            <div class="line my-4"></div>
            <h3 class="home-title mx-auto">Thương hiệu nổi bật</h3>
        </div>

        <div class="autoplay d-flex">
            @foreach (var item in Model.listBrand)
            {
                if (item.Highlights == true)
                {
                    <a class="bran__logo p-4" style="cursor: pointer;">
                        <img src="@Configuration["ImagePath:Brand"]@item.BrandImagePath" alt="">
                    </a>
                }
            }
        </div>

        <div class="w-100 text-center d-block">
            <a class="bran__viewmore d-inline-block" style="cursor: pointer;" href="@Url.Action("HighlightsBrands", "Brand")">Xem thêm</a>
        </div>
    </div>
    <!-- Bran list -->
    <div class="content__wrapper">
        <div class="w-100 my-4 p-4">
            <div class="d-flex align-items-center flex-wrap">
                <!-- Sort Bran by Alphabet -->
                <div class="bran__filter d-flex align-items-center">
                    <h3 class="mb-0">Hiển thị theo bởi</h3>
                    <div class="order__item-wrapper order__button">
                        <div class="order__item-dropdown">
                            A, B, C, D, E<svg xmlns="http://www.w3.org/2000/svg"
                                              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#333"
                                              stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                              class="feather feather-chevron-down svg-order">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                        <div class="order__item-dropdown_menu">
                            <div class="order__item-dropdown_items">
                                <a class="order__item d-none getBrandListFromAtoE">
                                    A, B, C, D, E<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                      viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                      stroke-linecap='round' stroke-linejoin='round'
                                                      class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item getBrandListFromFtoJ">
                                    F, G, H, I, J<svg xmlns='http://www.w3.org/2000/svg'
                                                      width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                      stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                      class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item getBrandListFromKtoO">
                                    K, L, M, N, O<svg xmlns='http://www.w3.org/2000/svg'
                                                      width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                      stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                      class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item getBrandListFromPtoT">
                                    P, Q, R, S, T<svg xmlns='http://www.w3.org/2000/svg'
                                                      width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                      stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                      class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item getBrandListFromUtoZ">
                                    U, V, W, X, Y, Z<svg xmlns='http://www.w3.org/2000/svg'
                                                         width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                         stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                         class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                <a class="order__item getAllBrandList">
                                    Tất cả<svg xmlns='http://www.w3.org/2000/svg' width='24'
                                               height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                               stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                               class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="bran__filter d-flex align-items-center">
                    <h3 class="mb-0">Danh mục</h3>
                    <div class="order__item-wrapper order__button">
                        <div class="order__item-dropdown">
                            Tất cả<svg xmlns="http://www.w3.org/2000/svg"
                                       width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#333"
                                       stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                       class="feather feather-chevron-down svg-order">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                        <div class="order__item-dropdown_menu">
                            <div class="order__item-dropdown_items">
                                <a class="order__item d-none" onclick="getAllBrandList()">
                                    Tất cả<svg xmlns='http://www.w3.org/2000/svg'
                                               width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                               stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                               class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </a>
                                @foreach (var category in Model.listCategory)
                                {
                                    <a class="order__item" onclick="getAllBrandInCategory(@category.CategoryId)">
                                        @category.CategoryName<svg xmlns='http://www.w3.org/2000/svg'
                                                               width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                               stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                               class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="bran__list-line my-4"></div>
            <!-- Bran list content -->
            <div class="bran__list-items mb-4">
                @{
                    var list = new List<string>();
                    for (var i = 0; i < Model.listBrand.Count; i++)
                    {
                        list.Add(@Model.listBrand[i].BrandName.Substring(0, 1));
                    }
                    var listDist = list.Distinct().ToArray();
                    var listAtoE = new List<string>() { "A", "B", "C", "D", "E" };
                    var listFtoJ = new List<string>() { "F", "G", "H", "I", "J" };
                    var listKtoO = new List<string>() { "K", "L", "M", "N", "O" };
                    var listPtoT = new List<string>() { "P", "Q", "R", "S", "T" };
                    var listUtoZ = new List<string>() { "U", "V", "W", "X", "Y", "Z" };
                    var listOrderBy = listAtoE; // Default list display

                    for (var i = 0; i < listDist.Count(); i++)
                    {
                        for (var j = 0; j < listOrderBy.Count(); j++)
                        {
                            if (listOrderBy[j] == listDist[i])
                            {
                                var count = 0;
                                <h4>@listOrderBy[j]</h4>
                                <div class="d-flex flex-wrap">
                                    @foreach (var item in Model.listBrand)
                                    {
                                        if (listOrderBy[j] == item.BrandName.Substring(0, 1))
                                        {
                                            count++;
                                            if (count > 10) // 10 brands for each row
                                            {
                                                continue;
                                            }
                                            <div class="bran__list-item card">
                                                <a href="@Url.Action("ProductInBrand","Product", new { @BrandId = item.BrandId, @PageIndex = 1})">
                                                    <div class="bran__list-img py-2 px-4">
                                                        <img src="@Configuration["ImagePath:Brand"]@item.BrandImagePath" class="card-img-top" alt="@item.BrandName">
                                                    </div>
                                                    <div class="card-body text-center p-2 align-items-center justify-content-center">
                                                        <h5 class="bran__list-name card-title mb-0">@item.BrandName</h5>
                                                        <h6 class="bran__list-type card-text">@item.Category</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                    }
                }
                <div class="w-100 text-center d-block">
                    <a class="bran__viewmore d-inline-block" style="cursor: pointer">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Events
    $('.getBrandListFromAtoE').click(function () {
        var sortBy = ["A", "B", "C", "D", "E"];
        getBrandListOrdered(sortBy);
    })
    $('.getBrandListFromFtoJ').click(function () {
        var sortBy = ["F", "G", "H", "I", "J"];
        getBrandListOrdered(sortBy);
    })
    $('.getBrandListFromKtoO').click(function () {
        var sortBy = ["K", "L", "M", "N", "O"];
        getBrandListOrdered(sortBy);
    })
    $('.getBrandListFromPtoT').click(function () {
        var sortBy = ["P", "Q", "R", "S", "T"];
        getBrandListOrdered(sortBy);
    })
    $('.getBrandListFromUtoZ').click(function () {
        var sortBy = ["U", "V", "W", "X", "Y", "Z"];
        getBrandListOrdered(sortBy);
    })
    $('.getAllBrandList').click(function () {
        getAllBrandList();
    })
    $(document).on('click', '.bran__viewmore', function () { // View more 
        getAllBrandList();
    })

    // Call API functions
    function getAllBrandInCategory(id) {
        $.get("/api/BrandAPI/getAllBrandInCategory", { id: id }, function (data, response) {
            if (response != "success") {
                $('.bran__list-items').empty();
                $('.bran__list-items').append(`<div class="text-center">Không có kết quả</div>`);
                return;
            }
            if (data.status != "success") {
                $('.bran__list-items').empty();
                $('.bran__list-items').append(`<div class="text-center">Không có kết quả</div>`);
                return;
            }
            if (data.status == "success") {
                $('.bran__list-items').empty();
                var listBrand = data.data;
                renderBrandList(listBrand);
            }
        })
    }
    function getBrandListOrdered(sortBy) {
        $.get("/api/BrandAPI/getAll", function (data, response) {
            if (response != "success") {
                $('.bran__list-items').empty();
                $('.bran__list-items').append(`<div class="text-center">Không có kết quả</div>`);
                return;
            }
            if (data.status != "success") {
                $('.bran__list-items').empty();
                $('.bran__list-items').append(`<div class="text-center">Không có kết quả</div>`);
                return;
            }
            if (data.status == "success") {
                $('.bran__list-items').empty();
                var listBrand = data.data; // array brand
                renderBrandListOrdered(listBrand, sortBy);
            }
        });
    }
    function getAllBrandList() {
        $.get("/api/BrandAPI/getAll", function (data, response) {
            if (response != "success") {
                $('.bran__list-items').empty();
                $('.bran__list-items').append(`<div class="text-center">Không có kết quả</div>`);
                return;
            }
            if (data.status != "success") {
                $('.bran__list-items').empty();
                $('.bran__list-items').append(`<div class="text-center">Không có kết quả</div>`);
                return;
            }
            if (data.status == "success") {
                $('.bran__list-items').empty();
                var listBrand = data.data;
                renderBrandList(listBrand);
            }
        });
    }

    // Render data to html funtions
    function renderBrandList(listBrand) {
        var tempList = [];
        for (var i = 0; i < listBrand.length; i++) {
            tempList.push(listBrand[i].brandName[0]);
        }
        var listDist = tempList.filter(function (value, index) { return tempList.indexOf(value) == index });
        for (var i = 0; i < listDist.length; i++) {
            $('.bran__list-items').append(`<h4>${listDist[i]}</h4>`)
            var data = '';
            listBrand.forEach(brand => {
                if (listDist[i] == brand.brandName[0]) {
                    data += `
                        <div class="bran__list-item card">
                            <a href="/Product/ProductInBrand?BrandId=${brand.brandId}&PageIndex=1">
                                <div class="bran__list-img py-2 px-4">
                                    <img src="@Configuration["ImagePath:Brand"]${brand.brandImagePath}" class="card-img-top" alt="${brand.brandName}">
                                </div>
                                <div class="card-body text-center p-2 align-items-center justify-content-center">
                                    <h5 class="bran__list-name card-title mb-0">${brand.brandName}</h5>
                                    <h6 class="bran__list-type card-text">${brand.category}</h6>
                                </div>
                            </a>
                        </div>
                    `;
                }
            })
            $('.bran__list-items').append(`<div class="d-flex flex-wrap">${data}</div`)
        }
    }
    function renderBrandListOrdered(listBrand, sortBy) {
        var tempList = [];
        for (var i = 0; i < listBrand.length; i++){
            tempList.push(listBrand[i].brandName[0]); // array of first letter of brandname
        }
        var listDist = tempList.filter(function (value, index) { return tempList.indexOf(value) == index }); // distincted array array of first letter of brandname
        for (var i = 0; i < listDist.length; i++) {
            for (var j = 0; j < sortBy.length; j++) {
                if (sortBy[j] == listDist[i]) {
                    $('.bran__list-items').append(`<h4>${sortBy[j]}</h4>`)
                    var data = '';
                    listBrand.forEach(brand => {
                        if (sortBy[j] == brand.brandName[0]) {
                            data += `
                                <div class="bran__list-item card">
                                    <a href="/Product/ProductInBrand?BrandId=${brand.brandId}&PageIndex=1">
                                        <div class="bran__list-img py-2 px-4">
                                            <img src="@Configuration["ImagePath:Brand"]${brand.brandImagePath}" class="card-img-top" alt="${brand.brandName}">
                                        </div>
                                        <div class="card-body text-center p-2 align-items-center justify-content-center">
                                            <h5 class="bran__list-name card-title mb-0">${brand.brandName}</h5>
                                            <h6 class="bran__list-type card-text">${brand.category}</h6>
                                        </div>
                                    </a>
                                </div>
                            `;
                        }
                    })
                    $('.bran__list-items').append(`<div class="d-flex flex-wrap">${data}</div`)
                }
            }
        }
        // Xem thêm
        $('.bran__list-items').append(`
            <div class="w-100 text-center d-block">
                <a class="bran__viewmore d-inline-block" style="cursor: pointer">Xem thêm</a>
            </div>
        `);
    }
</script>
