﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!-- Main contain -->
<div class="custom-container">
    <div class="content__wrapper products__content-wrapper">
        <div class="content__inner w-100">
            <ul class="web__directional">
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li><a href="@Url.Action("AllBrands","Brand")">Thương hiệu</a></li>
                <li><a href="@Url.Action("ProductInBrand","Product", new { BrandId = Model.brand.BrandId})">@Model.brand.BrandName</a></li>
            </ul>
            <div class="products__content d-flex">
                <div class="products__menu">
                    <div class="product__filter">
                        @foreach (var filter in Model.listFilterModel)
                        {
                            <div class="filter__block">
                                <h3 class="filter__title" onclick="getProductBySubCategory(@Model.brand.BrandId,@filter.SubCategoryId,'@filter.SubCategoryName',1)">
                                    @filter.SubCategoryName <svg xmlns='http://www.w3.org/2000/svg' width='24'
                                                 height='24' viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                 stroke-linecap='round' stroke-linejoin='round'
                                                 class='feather feather-chevron-right'>
                                        <polyline points='9 18 15 12 9 6'></polyline>
                                    </svg>
                                </h3>
                                <ul class="filter__list filter--scrollbar">
                                    @foreach (var option in filter.listOption)
                                    {
                                        if (option.listOptionValue.Count > 0)
                                        {
                                            <li class="filter__item">
                                                <p class="mb-0"><i class="fas fa-caret-down"></i> @option.OptionName</p>
                                                <ul class="filter__sub-list">
                                                    @foreach (var productOption in option.listOptionValue)
                                                    {
                                                        if (productOption.TotalRecord > 0)
                                                        {
                                                            <li class="filter__sub-item">
                                                                <div class="checkbox d-flex align-items-center">
                                                                    <input id="check__sub-item_@productOption.OptionValueId" class="checkboxFilter" type="checkbox" value="@productOption.OptionValueId">
                                                                    <label for="check__sub-item_@productOption.OptionValueId" class="d-flex align-items-center mb-0">
                                                                        <div class="sub-item-cate">@productOption.OptionValueName</div>
                                                                        <span class="sub-item-cate">(@productOption.TotalRecord)</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
                <div class="products__list">
                    <div class="filter__control-top">
                        <!-- Dropdown order list-->
                        <div class="order__item-wrapper order__button">
                            <div class="order__item-dropdown">
                                Tất cả
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="1"
                                     stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-chevron-down svg-order">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </div>
                            <div class="order__item-dropdown_menu">
                                <div class="order__item-dropdown_items">
                                    <a class="order__item d-none" onclick="getProduct(@Model.brand.BrandId, 1)">
                                        Tất cả<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                   viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                   stroke-linecap='round' stroke-linejoin='round'
                                                   class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                    <a class="order__item orderby-newest">
                                        Mẫu mới nhất<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                         viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                         stroke-linecap='round' stroke-linejoin='round'
                                                         class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                    <a class="order__item orderby-ascending">
                                        Giá thấp - cao<svg xmlns='http://www.w3.org/2000/svg'
                                                           width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                           stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                           class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                    <a class="order__item orderby-descending">
                                        Giá cao - thấp<svg xmlns='http://www.w3.org/2000/svg'
                                                           width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#333'
                                                           stroke-width='1' stroke-linecap='round' stroke-linejoin='round'
                                                           class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                    <a class="order__item orderby-discount">
                                        Đang giảm giá %<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                            stroke-linecap='round' stroke-linejoin='round'
                                                            class='feather feather-chevron-right'>
                                            <polyline points='9 18 15 12 9 6'></polyline>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product__filter-wrapper">
                            <div class="product__filter-dropdown filter__button">
                                Chọn lọc
                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                     stroke-linecap='round' stroke-linejoin='round'
                                     class='feather feather-chevron-left'>
                                    <polyline points='15 18 9 12 15 6'></polyline>
                                </svg>
                            </div>
                            <div class="product__filter-dropdown-menu">
                                <div class="product__filter-header text-center p-4">
                                    <div class="w-100 px-4">
                                        <img style="max-height: 55px; max-width: 100%;" class="" src="@Configuration["ImagePath:Brand"]@Model.brand.BrandImagePath" alt="">
                                    </div>
                                    <p class="mb-0">@Model.brand.BrandName</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="1"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="filter-close feather feather-x">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="filter__menu-wrapper">
                                    <div class="filter__menu-items">
                                        @foreach (var filter in Model.listFilterModel)
                                        {
                                            <div class="filter__block-mobile">
                                                <p class="filter__item-title mb-0 d-flex justify-content-between align-items-center" onclick="getProductBySubCategory(@Model.brand.BrandId,@filter.SubCategoryId,'@filter.SubCategoryName',1)">
                                                    @filter.SubCategoryName
                                                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                         viewBox='0 0 24 24' fill='none' stroke='#333'
                                                         stroke-width='1' stroke-linecap='round'
                                                         stroke-linejoin='round'
                                                         class='feather feather-chevron-right'>
                                                        <polyline points='9 18 15 12 9 6'></polyline>
                                                    </svg>
                                                </p>
                                                <ul class="filter__items-mobile">
                                                    @foreach (var option in filter.listOption)
                                                    {
                                                        if (option.listOptionValue.Count > 0)
                                                        {
                                                            <li class="filter__item-mobile">
                                                                <p class="mb-0">
                                                                    <i class="fas fa-caret-down"></i> @option.OptionName
                                                                </p>
                                                                <ul class="filter__sub-items-mobile">
                                                                    @foreach (var productOption in option.listOptionValue)
                                                                    {
                                                                        if (productOption.TotalRecord > 0)
                                                                        {
                                                                            <li class="d-flex align-items-center">
                                                                                <input class="checkboxFilter mr-2" id="checkbox__mobile-@productOption.OptionValueId" type="checkbox" value="@productOption.OptionValueId">
                                                                                <label for="checkbox__mobile-@productOption.OptionValueId" class="d-flex align-items-center mb-0">
                                                                                    <div class="mr-1">@productOption.OptionValueName</div>
                                                                                    <span>(@productOption.TotalRecord)</span>
                                                                                </label>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Number / total -->
                        <div class="filter__number">
                            <div class="text">Hiển thị: </div>
                            <div class="number">
                                <span>@Model.listProduct.CurrentRecord</span>
                                /
                                <span class="totalItems">@Model.listProduct.TotalRecord</span>
                            </div>
                        </div>   
                        <!-- Pagination -->
                        <div class="filter__pagination">
                            <ul class="pagination">
                                @{
                                    var firstIndex = 1;
                                    var lastIndex = Model.listProduct.TotalPage;
                                    var currentIndex = Model.listProduct.CurrentPage;
                                    var prevIndex = currentIndex - 1;
                                    var nextIndex = currentIndex + 1;
                                }
                                @if (Model.listProduct.TotalPage == 2)
                                {
                                    @if (currentIndex == 1)
                                    {
                                        <li value="1" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">1</a>
                                        </li>
                                        <li value="2" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">2</a>
                                        </li>
                                        <li value="1" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                    @if (currentIndex == 2)
                                    {
                                        <li value="2" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="1" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">1</a>
                                        </li>
                                        <li value="2" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">2</a>
                                        </li>
                                    }
                                }
                                @if (Model.listProduct.TotalPage > 2)
                                {
                                    if (currentIndex == firstIndex)
                                    {
                                        <li value="@currentIndex" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@currentIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@nextIndex</a>
                                        </li>
                                        <li value="@(nextIndex+1)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(nextIndex+1)</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                    else if (currentIndex == lastIndex)
                                    {
                                        <li value="@(lastIndex - 1)" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="@(lastIndex - 2)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(lastIndex - 2)</a>
                                        </li>
                                        <li value="@(lastIndex - 1)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(lastIndex - 1)</a>
                                        </li>
                                        <li class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@lastIndex</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li value="@prevIndex" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="@prevIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@prevIndex</a>
                                        </li>
                                        <li class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@currentIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@nextIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="product__grid-wrapper">
                        <!-- Product in Subscategory -->
                        @if (Model.listProduct.Items.Count > 0)
                        {
                            <p class="product__grid-title text-center">Tất cả sản phẩm</p>
                            <div class="product__grid-inner w-100 d-flex flex-wrap">
                                @foreach (var product in Model.listProduct.Items)
                                {
                                    <div class="product product-3">
                                        <a class="product-img" href="product-detail.html">
                                            <img src="@Configuration["ImagePath:Product"]@product.ProductImages" alt="">
                                        </a>
                                        <div class="product-label d-flex justify-content-end align-items-center w-100" style="background-color: #fff; padding: 3px 0;">
                                            @if (product.DiscountPercent != null)
                                            {
                                                <span class="label-sales">-@product.DiscountPercent%</span>
                                            }
                                            @if (product.New == true)
                                            {
                                                <span class="label-new">Mới</span>
                                            }
                                            @if (product.Highlights == true)
                                            {
                                                <span class="label-hot">Hot</span>
                                            }

                                            <!--Add to wishlist-->
                                            <a class="product-heart" style="cursor: pointer;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none" stroke="#333"
                                                     stroke-width="1" stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="add-to-wishlist feather feather-heart">
                                                    <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </div>
                                        <hr style="width: 50%; margin: 0 auto;">
                                        <div class="product__info">
                                            <div class="product__info-detail text-center">
                                                <div class="product-brand align-items-center">
                                                    @product.ShopName
                                                </div>
                                                <div class="product-name mb-0">
                                                    @product.ProductName
                                                </div>
                                                @if (product.ProductImportDate != null)
                                                {
                                                    <div class="product-name">
                                                        Tạm hết đến @product.ProductImportDate.ToString("dd/MM/yyyy")
                                                    </div>
                                                }
                                                @if (product.ProductImportDate == null)
                                                {
                                                    if (product.Type.Count == 1)
                                                    {
                                                        <div class="product-name">
                                                            (@product.Type[0].ProductTypeName)
                                                        </div>
                                                    }

                                                    if (product.Type.Count == 2)
                                                    {
                                                        @foreach (var type in product.Type)
                                                        {
                                                            if (type.ProductTypeId == 1)
                                                            {
                                                                <div class="product-name">
                                                                    (@type.ProductTypeName)
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }
                                                @if (product.Price.Count == 2)
                                                {
                                                    @foreach (var price in product.Price)
                                                    {
                                                        if (price.ProductTypeId == 2)
                                                        {
                                                            if (price.PriceOnSell == null)
                                                            {
                                                                <div class="product-price">@String.Format("{0:0,0} ₫", price.Price)</div>
                                                                <div class="product-subprice" style="visibility: hidden">@String.Format("{0:0,0} ₫", price.Price)</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="product-price">@String.Format("{0:0,0} ₫", price.PriceOnSell)</div>
                                                                <div class="product-subprice">@String.Format("{0:0,0} ₫", price.Price)</div>
                                                            }
                                                        }
                                                    }
                                                }

                                                @if (product.Price.Count == 1)
                                                {
                                                    if (product.Price[0].PriceOnSell == null)
                                                    {
                                                        <div class="product-price">@String.Format("{0:0,0} ₫", product.Price[0].Price)</div>
                                                        <div class="product-subprice" style="visibility: hidden">@String.Format("{0:0,0} ₫", product.Price[0].Price)</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="product-price">@String.Format("{0:0,0} ₫", product.Price[0].PriceOnSell)</div>
                                                        <div class="product-subprice">@String.Format("{0:0,0} ₫", product.Price[0].Price)</div>
                                                    }
                                                }
                                                <div class="product-btn">
                                                    <a href="">Xem nhanh</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        @if (Model.listProduct.Items.Count == 0)
                        {
                            <p class="text-center">Chưa có sản phẩm</p>
                        }
                    </div>               
                    <div class="filter__control-bottom">
                        <!-- Number / total -->
                        <div class="filter__number">
                            <div class="text">Hiển thị: </div>
                            <div class="number">
                                <span>@Model.listProduct.CurrentRecord</span>
                                /
                                <span class="totalItems">@Model.listProduct.TotalRecord</span>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="filter__pagination">
                            <ul class="pagination">
                                @if (Model.listProduct.TotalPage == 2)
                                {
                                    @if (currentIndex == 1)
                                    {
                                        <li value="1" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">1</a>
                                        </li>
                                        <li value="2" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">2</a>
                                        </li>
                                        <li value="1" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                    @if (currentIndex == 2)
                                    {
                                        <li value="2" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="1" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">1</a>
                                        </li>
                                        <li value="2" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">2</a>
                                        </li>
                                    }
                                }
                                @if (Model.listProduct.TotalPage > 2)
                                {
                                    if (currentIndex == firstIndex)
                                    {
                                        <li value="@currentIndex" class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@currentIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@nextIndex</a>
                                        </li>
                                        <li value="@(nextIndex+1)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(nextIndex+1)</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                    else if (currentIndex == lastIndex)
                                    {
                                        <li value="@(lastIndex - 1)" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="@(lastIndex - 2)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(lastIndex - 2)</a>
                                        </li>
                                        <li value="@(lastIndex - 1)" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@(lastIndex - 1)</a>
                                        </li>
                                        <li class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@lastIndex</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li value="@prevIndex" class="pagination-item pagination-item__page previous">
                                            <a class="pagination-link pagination-item__page" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-left'>
                                                    <polyline points='15 18 9 12 15 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                        <li value="@prevIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@prevIndex</a>
                                        </li>
                                        <li class="pagination-item pagination-item__page active">
                                            <a class="pagination-link">@currentIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page">
                                            <a class="pagination-link">@nextIndex</a>
                                        </li>
                                        <li value="@nextIndex" class="pagination-item pagination-item__page next">
                                            <a class="pagination-link" style="height: 24px;">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                                                     viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                                                     stroke-linecap='round' stroke-linejoin='round'
                                                     class='feather feather-chevron-right'>
                                                    <polyline points='9 18 15 12 9 6'></polyline>
                                                </svg>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var SubCategoryIdRequest = '';
    var SubCategoryNameRequest = '';
    var listOptionValueIdRequest = [];
    var orderRequest = '';

    // Events
    $(document).on('click', '.pagination-item', function () {
        var pageIndex = parseInt($(this).attr("value"));
        if ($(this).hasClass('active')) {
            return;
        }

        // Current Order
        if (orderRequest != '') {
            orderBy(orderRequest, pageIndex); return;
        }
        // Current BrandId
        if (SubCategoryIdRequest == '') {
            getProduct(@Model.brand.BrandId, pageIndex); return;
        }
        // Current SubCategoryId
        if (SubCategoryIdRequest != '') {
            getProductBySubCategory(@Model.brand.BrandId, SubCategoryIdRequest, SubCategoryNameRequest, pageIndex); return;
        }
        // Current OptionValueIds
        if (listOptionValueIdRequest.length > 0) {
            getProductByOptionValue(@Model.brand.BrandId, listOptionValueIdRequest, pageIndex); return;
        }
    })
    $('.checkboxFilter').click(function () {
        if ($(this).is(":checked")) {
            listOptionValueIdRequest.push($(this).val());
        }
        if (!$(this).is(":checked")) {
            listOptionValueIdRequest.splice($.inArray($(this).val(), listOptionValueIdRequest), 1);
        }
        if (listOptionValueIdRequest.length == 0) {
            getProductBySubCategory(@Model.brand.BrandId, SubCategoryIdRequest, SubCategoryNameRequest, 1);
            return;
        }
        getProductByOptionValue(@Model.brand.BrandId, listOptionValueIdRequest, 1);
    })
    $('.orderby-newest').click(function () {
        var order = "Newest";
        orderBy(order, 1);
        orderRequest = order;
    });
    $('.orderby-ascending').click(function () {
        var order = "Ascending";
        orderBy(order, 1);
        orderRequest = order;
    });
    $('.orderby-descending').click(function () {
        var order = "Descending";
        orderBy(order, 1);
        orderRequest = order;
    });
    $('.orderby-discount').click(function () {
        var order = "Discount";
        orderBy(order, 1);
        orderRequest = order;
    });

    // Call API
    function getProduct(BrandId, pageIndex) {
        var request = {
            BrandId: BrandId,
            PageIndex: pageIndex
        }
        apiGetProduct(request, "Tất cả sản phẩm");

        SubCategoryIdRequest = '';
        orderRequest = '';
        listOptionValueIdRequest = [];
    }
    function getProductBySubCategory(BrandId, SubCategoryId, SubCategoryName, pageIndex) {
        var request = {
            BrandId: BrandId,
            SubCategoryId: SubCategoryId,
            PageIndex: pageIndex
        }
        apiGetProduct(request, SubCategoryName);

        SubCategoryIdRequest = SubCategoryId;
        SubCategoryNameRequest = SubCategoryName;
        orderRequest = '';
    }
    function getProductByOptionValue(BrandId, listOptionValueId, pageIndex) {
        var request = {
            BrandId: BrandId,
            listOptionValueId: listOptionValueId,
            PageIndex: pageIndex
        }
        apiGetProduct(request, SubCategoryNameRequest);
        orderRequest = '';
    }

    function orderBy(order, pageIndex) {
        // Current BrandId
        if (SubCategoryIdRequest == '') {
            orderProduct(@Model.brand.BrandId, pageIndex, order);
        }
        // Current SubCategoryId
        if (SubCategoryIdRequest != '') {
            orderBySubCategory(@Model.brand.BrandId, SubCategoryIdRequest, SubCategoryNameRequest, pageIndex, order)
        }
        // Current OptionValueIds
        if (listOptionValueIdRequest.length > 0) {
            orderByOPtionValue(@Model.brand.BrandId, listOptionValueIdRequest, pageIndex, order);
        }
    }
    function orderProduct(BrandId, pageIndex, order) {
        var request = {
            BrandId: BrandId,
            PageIndex: pageIndex,
            OrderBy: order
        }
        apiGetProduct(request, "Tất cả sản phẩm");

        SubCategoryIdRequest = '';
        listOptionValueIdRequest = [];
    }
    function orderBySubCategory(BrandId, SubCategoryId, SubCategoryName, pageIndex, order) {
        var request = {
            BrandId: BrandId,
            SubCategoryId: SubCategoryId,
            PageIndex: pageIndex,
            OrderBy: order
        }
        apiGetProduct(request, SubCategoryName);

        SubCategoryIdRequest = SubCategoryId;
        SubCategoryNameRequest = SubCategoryName;
    }
    function orderByOPtionValue(BrandId, listOptionValueId, pageIndex, order) {
        var request = {
            BrandId: BrandId,
            listOptionValueId: listOptionValueId,
            PageIndex: pageIndex,
            OrderBy: order
        }
        apiGetProduct(request, SubCategoryNameRequest);
    }

    // API methods
    function apiGetProduct(request, title) {
        $.ajax({
            url: '/api/ProductAPI/getProductInBrand',
            data: JSON.stringify(request),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            success: function (data) {
                var currentRecord = data.data.listProduct.currentRecord;
                var totalRecord = data.data.listProduct.totalRecord;
                var listProduct = data.data.listProduct.items;
                var totalPage = data.data.listProduct.totalPage;

                renderCurrentRecord(currentRecord, totalRecord);
                renderPagination(totalPage, request.PageIndex);
                renderProduct(listProduct, title);
            }
        });
    }

    // Append product
    function renderProduct(listProduct, title) {
        $('.product__grid-title').html(title);
        $('.product__grid-inner').empty();
        if (listProduct.length > 0) {
            listProduct.forEach(product => {
                var html = htmlProduct(
                    product.productImages,
                    product.discountPercent,
                    product.new,
                    product.highlights,
                    product.shopName,
                    product.productName,
                    product.productImportDate,
                    product.type,
                    product.price,
                );
                $('.product__grid-inner').append(html);
            })
        }
    }
    // Append current product/total
    function renderCurrentRecord(currentRecord, totalRecord) {
        $('.filter__number .number').empty();
        $('.filter__number .number').append(htmlCurrentRecord(currentRecord, totalRecord));
    }
    // Append pagination
    function renderPagination(pagesize, pageindex) {
        var firstIndex = 1;
        var lastIndex = pagesize;
        var currentIndex = pageindex;
        var prevIndex = 0;
        var nextIndex = 0;
        if (pageindex > 1) {
            prevIndex = currentIndex - 1;
            nextIndex = currentIndex + 1;
        }

        $('.pagination').empty();
        if (pagesize == 2) {
            if (currentIndex == 1) {
                $('.pagination').append(htmlPagination2AtFirstIndex());
                return;
            }
            if (currentIndex == 2) {
                $('.pagination').append(htmlPagination2AtSecondIndex());
                return;
            }
        }

        if (pagesize > 2) {
            if (currentIndex == firstIndex) {
                $('.pagination').append(htmlPaginationAtFirstIndex())
                return;
            } else if (currentIndex == lastIndex) {
                $('.pagination').append(htmlPaginationAtLastIndex(lastIndex))
                return;
            } else {
                $('.pagination').append(htmlPagination(prevIndex, currentIndex, nextIndex))
                return;
            }
        }

        return;
    }

    // Html product
    function htmlProduct(
        image,
        discountPercent,
        newProduct,
        highlights,
        shop,
        name,
        importDate,
        type,
        price,
    ) {
        var htmlDiscountPercent = ``;
        if (discountPercent !== null) {
            htmlDiscountPercent = `
                <span class="label-sales">-${discountPercent}%</span>
            `;
        }
        var htmlNew = ``;
        if (newProduct == true) {
            htmlNew = `
                <span class="label-new">Mới</span>
            `;
        }
        var htmlHighlights = ``;
        if (highlights == true) {
            htmlHighlights = `
                <span class="label-new">Hot</span>
            `;
        }
        var htmlImportDate = ``;
        var date = new Date(importDate);
        if (importDate !== null) {
            htmlImportDate = `
                <div class="product-name">
                    Tạm hết đến ${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}
                </div>
            `;
        } else {
            if (type.length == 1) {
                htmlImportDate = `
                    <div class="product-name">
                        ${type[0].productTypeName}
                    </div>
                `;
            }
            if (type.length == 2) {
                type.forEach(item => {
                    if (item.productTypeId == 1) {
                        htmlImportDate = `
                            <div class="product-name">
                                ${item.productTypeName}
                            </div>
                        `;
                    }
                })
            }
        }
        var htmlPrice = ``;
        if (price.length == 2) {
            price.forEach(item => {
                if (item.productTypeId == 2) {
                    if (item.priceOnSell == null) {
                        htmlPrice = `
                            <div class="product-subprice" style="visibility: hidden;">${(item.price).toLocaleString()} ₫</div>
                            <div class="product-price">${(item.price).toLocaleString()} ₫</div>
                        `;
                    }
                    else {
                        htmlPrice = `
                            <div class="product-subprice">${(item.price).toLocaleString()} ₫</div>
                            <div class="product-price">${(item.priceOnSell).toLocaleString()} ₫</div>
                        `;
                    }
                }
            })
        }
        if (price.length == 1) {
            if (price[0].priceOnSell == null)
            {
                htmlPrice = `
                    <div class="product-subprice" style="visibility: hidden;">${(price[0].price).toLocaleString()} ₫</div>
                    <div class="product-price">${(price[0].price).toLocaleString()} ₫</div>
                `;
            }
            else
            {
                htmlPrice = `
                    <div class="product-subprice">${(price[0].price).toLocaleString()} ₫</div>
                    <div class="product-price">${(price[0].priceOnSell).toLocaleString()} ₫</div>
                `;
            }
        }

        var html = `
            <div class="product product-3">
                <a class="product-img" href="product-detail.html">
                    <img src="@Configuration["ImagePath:Product"]${image}" alt="">
                </a>
                <div class="product-label d-flex justify-content-end align-items-center w-100" style="background-color: #fff; padding: 3px 0;">
                    ${htmlDiscountPercent}
                    ${htmlNew}
                    ${htmlHighlights}

                    <!--Add to wishlist-->
                    <a class="product-heart" style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="#333"
                                stroke-width="1" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="add-to-wishlist feather feather-heart">
                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                            </path>
                        </svg>
                    </a>
                </div>
                <hr style="width: 50%; margin: 0 auto;">
                <div class="product__info">
                    <div class="product__info-detail text-center">
                        <div class="product-brand align-items-center">
                            ${shop}
                        </div>
                        <div class="product-name mb-0">
                            ${name}
                        </div>
                        ${htmlImportDate}
                        ${htmlPrice}
                        <div class="product-btn">
                            <a href="">Xem nhanh</a>
                        </div>
                    </div>
                </div>
            </div>
        `;
        return html;
    }
    // Html current record
    function htmlCurrentRecord(currentRecord, totalRecord){
        var html = `
            <span>${currentRecord}</span>
            /
            <span class="totalItems">${totalRecord}</span>
        `
        return html;
    }
    // Html pagination
    function htmlPagination2AtFirstIndex() {
        var html = `
            <li value="1" class="pagination-item pagination-item__page active">
                <a class="pagination-link">1</a>
            </li>
            <li value="2" class="pagination-item pagination-item__page">
                <a class="pagination-link">2</a>
            </li>
            <li value="2" class="pagination-item pagination-item__page next">
                <a class="pagination-link" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-right'>
                        <polyline points='9 18 15 12 9 6'></polyline>
                    </svg>
                </a>
            </li>
        `;
        return html;
    }
    function htmlPagination2AtSecondIndex() {
        var html = `
            <li value="1" class="pagination-item pagination-item__page previous">
                <a class="pagination-link pagination-item__page" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-left'>
                        <polyline points='15 18 9 12 15 6'></polyline>
                    </svg>
                </a>
            </li>
            <li value="1" class="pagination-item pagination-item__page">
                <a class="pagination-link">1</a>
            </li>
            <li class="pagination-item pagination-item__page active">
                <a class="pagination-link">2</a>
            </li>
        `
        return html;
    }

    function htmlPaginationAtFirstIndex() {
        var html = `
            <li value="1" class="pagination-item pagination-item__page active">
                <a class="pagination-link">1</a>
            </li>
            <li value="2" class="pagination-item pagination-item__page">
                <a class="pagination-link">2</a>
            </li>
            <li value="3" class="pagination-item pagination-item__page">
                <a class="pagination-link">3</a>
            </li>
            <li value="2" class="pagination-item pagination-item__page next">
                <a class="pagination-link" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-right'>
                        <polyline points='9 18 15 12 9 6'></polyline>
                    </svg>
                </a>
            </li>
        `
        return html;
    }
    function htmlPagination(prevIndex, currentIndex, nextIndex) {
        var html = `
            <li value="${prevIndex}" class="pagination-item pagination-item__page previous">
                <a class="pagination-link pagination-item__page" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-left'>
                        <polyline points='15 18 9 12 15 6'></polyline>
                    </svg>
                </a>
            </li>
            <li value="${prevIndex}" class="pagination-item pagination-item__page">
                <a class="pagination-link">${prevIndex}</a>
            </li>
            <li class="pagination-item pagination-item__page active">
                <a class="pagination-link">${currentIndex}</a>
            </li>
            <li value="${nextIndex}" class="pagination-item pagination-item__page">
                <a class="pagination-link">${nextIndex}</a>
            </li>
            <li value="${nextIndex}" class="pagination-item pagination-item__page next">
                <a class="pagination-link" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-right'>
                        <polyline points='9 18 15 12 9 6'></polyline>
                    </svg>
                </a>
            </li>
        `
        return html;
    }
    function htmlPaginationAtLastIndex(lastIndex) {
        var html = `
            <li value="${lastIndex - 1}" class="pagination-item pagination-item__page previous">
                <a class="pagination-link pagination-item__page" style="height: 24px;">
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'
                            viewBox='0 0 24 24' fill='none' stroke='#333' stroke-width='1'
                            stroke-linecap='round' stroke-linejoin='round'
                            class='feather feather-chevron-left'>
                        <polyline points='15 18 9 12 15 6'></polyline>
                    </svg>
                </a>
            </li>
            <li value="${lastIndex - 2}" class="pagination-item pagination-item__page">
                <a class="pagination-link">${lastIndex - 2}</a>
            </li>
            <li value="${lastIndex - 1}" class="pagination-item pagination-item__page">
                <a class="pagination-link">${lastIndex - 1}</a>
            </li>
            <li class="pagination-item pagination-item__page active">
                <a class="pagination-link">${lastIndex}</a>
            </li>
        `
        return html;
    }

</script>