﻿<div class="control-selectlist">
    <!--Mobile view-->
    <select name="" id="" class="form-control" onchange="location = this.value">
        <option value="@Url.Action("UserProfile", "Account")" selected>Thông tin cá nhân</option>
        <option value="user-orderhistory.html">Lịch sử đơn hàng</option>
        <option value="user-changepassword.html">Đổi mật khẩu</option>
    </select>
    <span class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
             viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="1"
             stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-chevron-down">
            <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
    </span>
</div>
<ul class="control-list">
    <!-- Pc view-->
    <li class="mb-2">
        <a class="d-flex align-items-center active" href="@Url.Action("UserProfile", "Account")"
           style="white-space: nowrap;">
            <span class="mr-2" style="height: 24px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="1"
                     stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-info">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="16" x2="12" y2="12"></line>
                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                </svg>
            </span>
            Thông tin cá nhân
        </a>
    </li>
    <!-- Order history -->
    <li class="mb-2">
        <a class="d-flex align-items-center" href="user-orderhistory.html"
           style="white-space: nowrap;">
            <span class="mr-2" style="height: 24px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="1"
                     stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-list">
                    <line x1="8" y1="6" x2="21" y2="6"></line>
                    <line x1="8" y1="12" x2="21" y2="12"></line>
                    <line x1="8" y1="18" x2="21" y2="18"></line>
                    <line x1="3" y1="6" x2="3.01" y2="6"></line>
                    <line x1="3" y1="12" x2="3.01" y2="12"></line>
                    <line x1="3" y1="18" x2="3.01" y2="18"></line>
                </svg>
            </span>
            Lịch sử đơn hàng
        </a>
    </li>
    <!-- Change password -->
    <li class="mb-2">
        <a class="d-flex align-items-center" href="@Url.Action("UpdateUserPassword", "Account")"
           style="white-space: nowrap;">
            <span class="mr-2 mb-0" style="height: 24px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                     stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-edit-3">
                    <path d="M12 20h9"></path>
                    <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z">
                    </path>
                </svg>
            </span>
            Đổi mật khẩu
        </a>
    </li>
    <li class="mb-2">
        <a class="d-flex align-items-center" href="@Url.Action("SignOut","Account")"
           style="white-space: nowrap;">
            <span class="mr-2 mb-0" style="height: 24px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
            </span>
            Đăng xuất
        </a>
    </li>
    <hr>
    <!-- Sales registration -->
    <li class="mb-2">
        <a class="d-flex align-items-center" href="user-salesregistration.html" style="white-space: nowrap;">
            <span class="mr-2 mb-0" style="height: 24px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                     stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-edit">
                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                    </path>
                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                    </path>
                </svg>
            </span>
            Đăng ký bán hàng
        </a>
    </li>
</ul>
